pytest
fastapi
python-magic
filetype
pytest-asyncio
httpx
uvicorn
python-multipart
pytest-cov
dotenv
PyJWT
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-exporter-otlp